
.navWrapper {
    position: relative;
    width: 300px;
    text-align: center;
    transition: 1s;
    transform: translateX(-100%);

}

.navLink {
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
}
.navWrapperActive {
    transform: translateX(0%);
}

.btn {
    position: absolute;
    right: -50px;
}